
<main id="main" class="main">
    <section class="section">
      <div class="container">
  
        <div class="card">
          <div class="card-body" style="margin-left: 250px;">
            
           <!-- Champ de recherche -->
        
            <div class="d-flex justify-content-between align-items-center">
              <div class="card-header">
                <h4 class="card-title text-center custom-title">Liste des Options</h4>
              </div>
              </div>
              
  
              <button class="btn btn-primary" [routerLink]="'/createoption'">Ajouter Option</button>

  <br/>
  <br/>
                      <!-- Boutons de tri -->
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="search-container">
                       <!--   <input type="text" (input)="searchSynonyms()" [(ngModel)]="searchTerm" class="form-control" placeholder="Rechercher..." >-->
                          <button class="btn btn-outline-secondary" >Rechercher</button>
                        </div>
                        <br/>
                        
                      </div>
          
  
            <!-- Tableau avec les données des universités -->
            <table class="table table-striped mt-4">
              <thead>
                <tr>
                  <th>Id </th>
                  <th>Nom </th>
                  <th>Description </th>
                  <th>Categorie </th>
                  <th>PDF </th>

                  <th></th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let option of options">
                  <td>{{ option?.id }}</td>
                  <td>{{ option?.nom }}</td>
                  <td>{{ option?.description }}</td>
                  <td>{{ option?.categorieSpecialite }} </td>
                  <td>PDF Uploaded</td>

                 
                  
                  <td>
                     <!--<img [src]="sanitizeImageUrl(event?.imagecloud?.imageUrl)"  width="150" height="150" auto/> -->
                 </td>
                  
                  
                 <td>
                    <a routerLink="/updateoption/{{option.id}}" class="btn btn-success me-2">Modifier</a>
                    <button type="submit" class="btn btn-danger" (click)="removeSpecialite(option.id)">Supprimer</button>
                  </td> 
              
                  
                </tr>
                
              </tbody>
            </table>
              <!-- Bouton pour exporter en PDF -->
          <!--div class="text-center mt-4">
            <button class="btn btn-primary" (click)="ExportPdf()">Exporter en PDF</button>
          </div-->

  
            
  
          
  
          </div>
        </div>
  
      </div>
    </section>
  </main>
  <app-template-all-back></app-template-all-back>
  <app-side-bar-dashboard></app-side-bar-dashboard>
