
<main id="main" class="main">
    <section class="section">
      <div class="container">
  
        <div class="card">
          <div class="card-body">
            
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="card-title text-center custom-title">Liste des Reservations</h4>
              </div>
              <br/>
                  <!-- Boutons recherche -->
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="search-container">
                      <input type="text" (input)="searchSynonyms()" [(ngModel)]="searchTerm" class="form-control" placeholder="Rechercher..." >
                      <button class="btn btn-outline-secondary" >Rechercher</button>
                    </div>
                    <br/>
                    
                  </div>
  
            <!-- Tableau avec les données des réservations -->
            <table class="table table-striped mt-4">
              <thead>
                <tr>
                  <th>Nom du reservation</th>
                  <th>Date de reservation</th>
                  <th>Nom de l'Evenement</th>
                  <th>Nombre de Place restant</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let reservation of reservations">
                  <td>{{ reservation?.nom_reserv }}</td>
                  <td>{{ reservation?.date_reser }}</td>
                  <td>{{ reservation?.event?.nom }}</td>
                  <td>{{ reservation?.event?.nbrPlace }}</td>
                  <td>  
                      
               
                       <button type="submit" class="btn btn-danger" (click)="onDeleteBloc(reservation)">Supprimer</button>
                  </td>
                </tr>
              </tbody>
            </table>
              <!-- Bouton pour exporter en PDF -->
          <!--div class="text-center mt-4">
            <button class="btn btn-primary" (click)="ExportPdf()">Exporter en PDF</button>
          </div>
          <div>
            <button (click)="goTostatEnseignat()">Afficher les statistiques</button>
            <canvas id="myChart" width="400" height="400"></canvas>
          </div-->
          <!-- <span (click)="goTostatEnseignat()" style="cursor: pointer;">
            <i class="fas fa-chart-bar"></i> StatEnseignat
          </span> -->
          <div class="text-center mt-4">
            <button class="btn btn-primary mr-2" (click)="ExportPdf()">Exporter en PDF</button>
            <span class="mr-2"></span> <!-- Ajouter un espace -->
            <button class="btn btn-success" (click)="goTostatEnseignat()">Afficher les statistiques</button>
          </div>
          </div>
        </div>
  
      </div>
    </section>
  </main>
  
  